# Dependency directory
node_modules
bower_components

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# cache
/.cache